/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
    --clr-neutral-900: 233 18% 9%;
    --clr-neutral-800: 235 14% 15%;
    --clr-neutral-700: 235 13% 19%;
    --clr-neutral-600: 234 14% 29%;
    --clr-neutral-200: 240 26% 92%;
    --clr-neutral-100: 240 24% 96%;
    --clr-neutral-0: 0 0% 100%;

    --clr-blue-400: 274 90% 80%;
    --clr-blue-500: 274 90% 73%;

    --clr-yellow-500: 37 100% 50%;

    --clr-orange-500: 15 99% 67%;
    --clr-orange-800: 15 99% 43%;

    --fs-1: 4rem;
    --fs-mobile-1: 2.5rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 1rem;

}

[data-theme="light"] {
    --bg-color: hsl(var(--clr-neutral-0));
    --text-color: hsl(var(--clr-neutral-900));

    --textarea-bg-color: hsl(var(--clr-neutral-100));
    --textarea-border: 1px solid hsl(var(--clr-neutral-700));
    --textarea-color: hsl(var(--clr-neutral-700));

    --progress-track: hsl(var(--clr-neutral-200));
    --progress-fill: hsl(var(--clr-blue-400));

    --bg-image: url("/assets/images/bg-light-theme.png");

    --red-highlight: hsl(var(--clr-orange-800));
}

[data-theme="dark"] {
    --bg-color: hsl(var(--clr-neutral-900));
    --text-color: hsl(var(--clr-neutral-200));

    --textarea-bg-color: hsl(var(--clr-neutral-800));
    --textarea-border: 1px solid hsl(var(--clr-neutral-600));
    --textarea-color: hsl(var(--clr-neutral-200));

    --progress-track: hsl(var(--clr-neutral-700));
    --progress-fill: hsl(var(--clr-blue-500));

    --bg-image: url("/assets/images/bg-dark-theme.png");

    --red-highlight: hsl(var(--clr-orange-500));
}

/* -------------- */
/* General Resets */
/* -------------- */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}

/* 4. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 5. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}


/* 7. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* ------------------ */
/* -- Base Styling -- */
/* ------------------ */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "DM Sans", sans-serif;
    font-size: var(--fs-4);
    font-weight: 200;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
    /* Layout */
    display: grid;
    grid-template-columns: 1fr min(61rem, 100%) 1fr;
    padding-inline: 16px;
}

#root > * {
    grid-column: 2;
    background-image: var(--bg-image);
    background-size: 100%;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  

/* Utilities */

.fs-1 { font-size: var(--fs-mobile-1); }
.fs-2 { font-size: var(--fs-2); }
.fs-3 { font-size: var(--fs-3); }
.fs-4 { font-size: var(--fs-4); }

@media (min-width: 768px) {
    .fs-1 { font-size: var(--fs-1); }
}

.fw-bold {font-weight: 500;}

.red-highlight {color: var(--red-highlight);}


