/* Component-specific styles */


/* TextArea Component */
textarea {
    height: 200px;
    resize: none;
    background-color: hsl(var(--clr-neutral-800));
    border: 1px solid hsl(var(--clr-neutral-600));
    color: hsl(var(--clr-neutral-200));
    border-radius: 15px;
    padding: 16px;
}

textarea::placeholder {
    color: hsl(var(--clr-neutral-200));
}

textarea:focus,
textarea:active {
    border-color: hsl(var(--clr-neutral-700));
}

/* Exclude Spaces & Set Character Limit */
label.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* Visually hide default checkbox */
input.checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Create a custom checkbox */
label.checkbox .custom {
    width: 16px;
    height: 16px;
    border: 1px solid hsl(var(--clr-blue-500));
    border-radius: 4px;
    display: inline-block;
    position: relative;
    background-color: hsl(var(--clr-neutral-800));
    transition: background 0.2s, border-color 0.2s;
}

/* Custom Checkmark */
label.checkbox .custom::after {
    content: "";
    width: 6px;
    height: 10px;
    border: solid hsl(var(--clr-neutral-900));
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 1px;
    left: 4px;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s;
}

/* When checked */
label.checkbox input:checked + .custom {
    background-color: hsl(var(--clr-blue-500));
    border-color: hsl(var(--clr-blue-500));
}
  
label.checkbox input:checked + .custom::after {
    opacity: 1;
}

input.limitbox {
    width: 3.45rem;
    height: 1.8rem;
    border-radius: 6px;
    border: 1px solid hsl(var(--clr-neutral-600));
    background-color: hsl(var(--clr-neutral-800));
    text-align: center;
    display: inline-block;
}


/* Display Count Box */
div.display-count-box {
    width: 100%;
    height: 130px;
    color: hsl(var(--clr-neutral-900));
}

@media (min-width:48rem) {
    div.display-count-box {
        width: clamp(245px, 33%, 325px);
        height: 130px;
    }
}

@media (min-width:64rem) {
    div.display-count-box {
        width: min(33%, 320px);
        height: 130px;
    }
}

div.text-count,
div.word-count,
div.sentence-count {
    position: relative;
    z-index: 1;
}

div.text-count {
    background-color: hsl(var(--clr-blue-500));
}

div.word-count {
    background-color: hsl(var(--clr-yellow-500));
}

div.sentence-count {
    background-color: hsl(var(--clr-orange-800));
}

div.text-count::before {
    background-image: url("/assets/images/pattern-character-count.svg");
}

div.word-count::before {
    background-image: url("/assets/images/pattern-word-count.svg");
}

div.sentence-count::before {
    background-image: url("/assets/images/pattern-sentence-count.svg");
}

div.text-count::before,
div.word-count::before,
div.sentence-count::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}





